@use '../../styles/mixins.scss';
@import '../../styles/variables';

.reports-section {
  @include mixins.DisplayFlex(flex-start, center, column, nowrap);
  width: 100%;
  height: 100%;

  .section-title {
    @include mixins.SectionTitle;
  }

  .graphs-container {
    @include mixins.DisplayFlex(space-around, center, row, nowrap);
    width: 80%;
    margin-top: 6rem;

    .chart {
      width: 40rem;
      height: 40rem;
    }
  }
}
