@mixin DisplayFlex($justify, $align, $direction, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin SectionTitle {
  margin-top: 4rem;
  font-size: 3.2rem;
  letter-spacing: 1.2px;
}
