@use './styles/mixins.scss';
@import './styles/variables.scss';

main {
  @include mixins.DisplayFlex(flex-start, center, row, nowrap);
  background-color: $color1;
  width: 100vw;
  height: 100vh;
}
